* {
    margin: 0;
    padding: 0;
}

h1.section_headers {
    font-family: Impact, cursive;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 10px 10px 5px rgb(51, 32, 178);
    font-size: 50px;
}

.centered {
    text-align: center;
}
.navlist {
    padding-left: 230px;
}

.navigation {
    text-align: left;
    width: 500px;
    padding-left: 500px;
}

.navheader {
    padding-left: 35px;
}

#header {
    background-image: url("./images/headergifbackground.gif");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    align-self: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
    color: white;
}

#aboutme {
    position: absolute;
    top: 400px;
    left: 150px;
}

#aboutme:hover {
    content: url("./images/aboutmeHOVER.png");
    opacity: 1;
}

.clickable {

}
.clickable:hover{
    opacity: 1;
}