* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: 'Checkbook';
    src: url('./fonts/CHECKBK0.TTF') format('truetype');
    font-weight: 1 1000;
}
@font-face {
    font-family: 'Codehack';
    src: url('./fonts/NightmareCodehack.otf') format('opentype');
    font-weight: 1 1000;
}
@font-face {
    font-family: 'LuckiestGuy';
    src: url('./fonts/LuckiestGuy.ttf') format('truetype');
    font-weight: 1 1000;
}

@keyframes grow {
    from {
        font-size: 40px;
    }
    to {
        font-size: 50px;
    }
}

@keyframes glow {
    0% {
        text-shadow: blue 0 0 50px,
                       gray -5px -5px 0;
    }
    33% {
        text-shadow: green 0 0 50px,
                     gray -5px -5px 0;
    }
    66% {
        text-shadow: red 0 0 50px,
                     gray -5px -5px 0;
    }
    100% {
        text-shadow: violet 0 0 50px,
                     gray -5px -5px 0;
    }
}

#headingtext {
    position: relative;
    text-align: center;
    top: 20vh;
    font-family: 'Checkbook';
    font-size: 200px;
    letter-spacing: 20px;
    color: white;
    animation: glow 5s alternate infinite linear;
}

p, li {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: normal;
}

h1.section_headers {
    font-family: 'Codehack';
    font-weight: lighter;
    text-transform: uppercase;
    padding-top: 50px;
    z-index: 1;
    display: block;
    position: relative;
    text-align: center;
    font-size: 150px;
    height: 30%;
    width: 100%;
    letter-spacing: 20px;
    white-space: nowrap;
    background: linear-gradient(mediumpurple, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -5px -5px 0 black;
}
h1.section_headers#aboutHeader {
    background: linear-gradient(mediumpurple 40%, rgb(43, 23, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1.section_headers#educationHeader{
    background: linear-gradient(goldenrod 40%, rgb(218, 82, 32));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1.section_headers#extraHeader{
    background: linear-gradient(lightseagreen 60%, rgb(0, 61, 146));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1.section_headers#skillsHeader{
    background: linear-gradient(rgb(67, 255, 80) 40%, forestgreen);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1.section_headers#jobHeader{
    background: linear-gradient(rgb(255, 148, 109) 60%, orangered 85%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1.section_headers#rlsHeader{
    background: linear-gradient(rgb(255, 144, 144) 30%, firebrick 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1.section_headers#mysocialsHeader{
    background: linear-gradient(rgb(167, 189, 255) 30%, royalblue 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1.section_headers#rlsSocialsHeader{
    
}
p.section_bodies, ul.section_bodies {
    font-size: 30px;
    font-weight: 500;
    margin: 0 200px;
    text-align: center;
}
ul {
    list-style-position: inside;
    padding-bottom: 50px;
}
ul#nobullets {
    list-style-type: none;
}
figure a {
    position: relative;
    display: inline-block;
    padding: 0 30px;
}
figure img {
    width: 200px;
    height: 200px;
}

.figureSocials{
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.centered {
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}
.navlist {
    padding-left: 230px;
}

.navigation {
    text-align: left;
    width: 500px;
    padding-left: 500px;
}

.navheader {
    padding-left: 35px;
}

li h2 {
    padding-bottom: 50px;
}

#header {
    background-image: url("./images/headergifbackground.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-position: center center;
    min-width: 800px;
    min-height: 800px;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
}

hr {
    border-top: 10px solid black;
    border-bottom: 0px;
}

h2 {
    font-size: 50px;
}
#name_header {
    width: 75vw;
    height: 75vh;
    min-width: 500px;
    min-height: 250px;
}

#clickable_container {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    top: 25vh;
    left: 14vw;
    max-width: 75vw;
}
#clickable_container.secondContainer {
    top: 35vh;
}

#edu:hover {
    text-shadow: -5px -5px 0 gray,
                 1px 0 20px goldenrod,
                 0 1px 20px goldenrod,
                 -1px 0 20px goldenrod,
                 0 -1px 20px goldenrod;
}

#aboutme:hover {
    text-shadow: -5px -5px 0 gray,
                 1px 0 20px mediumpurple,
                 0 1px 20px mediumpurple,
                 -1px 0 20px mediumpurple,
                 0 -1px 20px mediumpurple;
}
#extracurr:hover {
    text-shadow: -5px -5px 0 gray,
                1px 0 20px lightseagreen,
                0 1px 20px lightseagreen,
                -1px 0 20px lightseagreen,
                0 -1px 20px lightseagreen;
}
#skillsClickable:hover{
    text-shadow: -5px -5px 0 gray,
                1px 0 20px forestgreen,
                0 1px 20px forestgreen,
                -1px 0 20px forestgreen,
                0 -1px 20px forestgreen;
}
#socialsClickable:hover {
    text-shadow: -5px -5px 0 gray,
                1px 0 20px royalblue,
                0 1px 20px royalblue,
                -1px 0 20px royalblue,
                0 -1px 20px royalblue;
}
#expClickable:hover {
    text-shadow: -5px -5px 0 gray,
                1px 0 20px orangered,
                0 1px 20px orangered,
                -1px 0 20px orangered,
                0 -1px 20px orangered;
}
#rlsClickable:hover {
    text-shadow: -5px -5px 0 gray,
                1px 0 20px firebrick,
                0 1px 20px firebrick,
                -1px 0 20px firebrick,
                0 -1px 20px firebrick;
}

div.sectionDivs {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: radial-gradient(#64e6ae, violet);
}
div.sectionDivs::-webkit-scrollbar{
}
  
.name_title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.clickable {
    position: relative;
    display: flex;
    margin: 0 60px 0 0px;
    padding: 0;
    vertical-align: top;
    text-decoration: none;
    align-self: center;
    font-family: 'LuckiestGuy';
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    text-wrap: nowrap;
    text-shadow: -5px -5px 0 gray;
}
.clickable.h1 {
    text-align: center;
    width: 50%;
    height: 50%;

}
.clickable:hover{
    opacity: 1;
}